body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}
h1{
    font-size: 60px;
    color: dimgray;
}
h2{
    font-size: 30px;
    font-weight: 700;
    color: lightslategray;
}
h3{
    font-size: 20px;
    
}
p{
    color:dimgray;
    font-size: 20px;
}
.section-1-2{
    display: flex;

}
.section-1{
    padding:30px;
    margin-top: 10px;
    margin-bottom:60px;

}
.div-1{
    margin-top: 30px;
    padding-left: 50px;
}
.div-2{
     margin-left:100px;
     padding-left: 10px;
}

.half-width{
    width:50%;
}
.anchor-button{
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient(orange,red);
    padding:15px 30px;
}
span{
    color: salmon;
}
.section-2{
    background-image: url("images/photo2.png");
    background-repeat: no-repeat;
    padding:50px;
    margin-bottom: 50px;
    
}
.div-4{
    padding-right: 50px;
}

.div-5{
    text-align: center;
    margin-bottom: 50px;
}
.section-3{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.div-6{
    border-radius: 20px;
    box-shadow: 2px 2px 20px grey;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding: 30px;
}
.div-7{
    border-radius: 20px;
    box-shadow: 2px 2px 20px grey;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding: 30px;
}
.div-8{
    border-radius: 20px;
    box-shadow: 2px 2px 20px grey;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding: 30px;
}
.div-6 img{
    display: flex;
    width:50%;
    border-radius: 30px;
}
.div-7 img{
    width:100%;
}
.div-8 img{
    width:100%;
}
.one-third{
    width:33.33%;
}
footer{
    text-align: center;
    background-color: black;
    padding-bottom: 40px;
}
footer p{
    font-size: 15px;
    color: white;
}